<?xml version="1.0"?>

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

    <system.webServer>
        <httpProtocol>
         <customHeaders>
           <add name="Access-Control-Allow-Origin" value="*" />
         </customHeaders>
       </httpProtocol>
        
        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/html"/>
        </staticContent>
    </system.webServer>
    
</configuration>
