@{
    Page.Title = "simple xhr with html";
}

@section scripts {
    <script>

        var callback = function(e) {
            
        }
            
        //TODO : do some XHR Hipster Foo
    
    </script>
}
<div id=results></div>