@{
    Page.Title = "JSON.parse";
}

@section scripts{
    
    <script src="/scripts/sampleJSON.js"></script>
    <script>
        $(document).ready( function () { 
            
            //TODO : make some objects
    
            $('#results').text( XXXXX );
        });
    </script>
}

<div id=results></div>