@{
    Page.Title = "JSON.stringify";
}

@section scripts{

    <script src="/scripts/sampleJSON.js"></script>
    <script>
        $(document).ready( function () {
           
            //todo : make some strings

            $('#results').text( XXXX );
        });
        
    </script>
}

<div id=results></div>