@{
    Page.Title = "obj.toJSON";
}

@section scripts {
    <script src="/scripts/sampleJSON.js"></script>
    <script>
        
        //todo : extend object toJSON
        
        var results = JSON.stringify( xxxx );
        
    </script>
}

<div id=results></div>