<!DOCTYPE html>

<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <meta name="author" content="Clark Sell" />
        
        <script type="text/javascript" src="/scripts/jquery-1.6.2.js"></script>
        
        @RenderSection("head", required: false)
        
    </head>
    <body>
        @RenderBody()
    </body>
</html>
