@{
    Layout = "~/layout/_layout.cshtml";    
}

<div class="row">
  <div class="span4">4</div>
  <div class="span8">8</div>
</div>

<div class="row">
  <div class="span4">asdfasdfasdfasdfasdfasdfas a df as fdasdf asdf asdfasd asdfs df asd fas</div>
  <div class="span8">8</div>
</div>