
#myFigure  {
	padding: 10px;
	margin: 10px;
	font: 1.2em;
	text-align: center;
	width: 500px;
	border-radius: 6px;
	background-color: Gray;
	font-weight: bold;
}

.roundedCornersAreCool {
	width: 600px;
	margin: 20px;
	padding: 10px;
	background-color: Green;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-radius: 10px;
}