/* Global */
body { 
	font-size: 16px; 
	font-family: arial,helvetica,clean,sans-serif;  
}
a { 
	color: #33CC33; 
}
a:hover { 
	text-decoration: none; 
}
 
/* Header */
#header h1 { 
	font-size: 48px; 
}

#header h2 {
	font-size: 22px;
	padding-bottom: 15px;
}
 
nav { 
	overflow: auto; 
	margin-bottom: 25px; 
}
nav li {
	float:left; 
	padding-right: 5px; 
}
 
/* Main Content Area */
section#blog { 
	width: 50%; 
	font-size: 12px; 
}
section h1 { 
	font-size: 16px; 
}
 
article  
{
	background: #99FF66;
	margin-bottom: 10px;
	padding: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
article footer { 
	text-align: right; 
	margin-right:5px; 
}
article h1 { 
	font-size: 12px; 
}

aside {
	float: right;
	width: 29%;
	position: relative;
	top: -185px;
	left: -185px;
}
aside li {
	float: none;
	list-style-type: none;
	display: block;
	padding-bottom: 5px;
}
figure {
	padding: 2px;
	margin: 5px;
	font: 1.2em;
	text-align: center;
	width: 250px;
	border: medium double #008000;
	border-radius: 6px;
	background-color: #C0C0C0;
	font-weight: bold;
}
figcaption, time {
	font-size: .8em;
	font-style:italic;
}